/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html, body {
	height: 100%;
	width: 100%;
	background-color: #7f7f7f;
    color: #fff;

}

.cover_container {
  height: 100%;
  width: 100%;
}
header {
	display: block;
	background-color: #3c689e;
	min-height: 90px;
}

.sitemenu {
	position: absolute;
	left: 0;
	top: 0;
	margin: 15px 0 0 15px;
}

.usermenu {
	position: absolute;
	right: 0;
	top: 0;
	margin: 15px 15px 0 0;
}

.navbar-brand {
	margin: 0 50px;
}

.navbar-brand > img {
	margin: 0;
	max-height: 38px;
}

.inner_cover {
	width: 100%;
	padding: 90px 50px 10px;
}


.center_box {
	overflow: hidden;
    display: block;
}

.center_box > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: block;
}

.center_box > ul > li {
	float: left;
	width: 33.33%;
}
.center_box > ul > li > a {
	color: #000;
	font-size: 20px;
}
.center_box > ul > li > a:hover,.center_box > ul > li > a.active {
	color: #fff;
    text-decoration:none;
}

.login_box {
	width: 250px;
}

   .login_box .form-control {
	color: #707070;
	background-color: #b7ffd8;
	border: 1px solid #b7ffd8;
	border-radius: 0;
}
.btn_login {
	color: #000;
	background-color: #3c689e;
	border-color: #3c689e;
}
.btn_login:hover {
	color: #000;
	background-color: #3c689e;
	border-color: #3c689e;
}



